{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 p-0">
                <div class="flex-center pageTop">
                    <div class="container text-center text-wrap text-white">
                        <h1 class="myFont" style="font-size: 4rem">Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="contact-holder p-0">
        <div class="container bg-white">
            <div class="row py-3 border-top-0">
                <div class="col-lg-4 border-right mb-4 mb-lg-0">
                    <div class="px-4">
                        <p class="mb-0 font-weight-normal" style="color: #2bc0a4;">Lorem, ipsum.</p>
                        <h3 class="h5">Lorem ipsum dolor sit.</h3>
                        <p class="text-muted mb-0 text-small">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Et deserunt quod beatae vel quo praesentium.</p>
                    </div>
                </div>
                <div class="col-lg-4 border-right mb-4 mb-lg-0">
                    <div class="px-4">
                        <p class="mb-0 font-weight-normal" style="color: #2bc0a4;">Lorem, ipsum.</p>
                        <h3 class="h5">Lorem ipsum dolor sit.</h3>
                        <p class="text-muted mb-0 text-small">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Et deserunt quod beatae vel quo praesentium.</p>
                    </div>
                </div>
                <div class="col-lg-4 border-right mb-4 mb-lg-0">
                    <div class="px-4">
                        <p class="mb-0 font-weight-normal" style="color: #2bc0a4;">Lorem, ipsum.</p>
                        <h3 class="h5">Lorem ipsum dolor sit.</h3>
                        <p class="text-muted mb-0 text-small">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Et deserunt quod beatae vel quo praesentium.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-2 px-0">
        <div class="container py-5 text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="color myFont title">
                        <bold>&ndash; Get in Touch Whith Us &ndash;</bold>
                    </h1>
                    <hr class="color2" style="width: 50%; height: 0.2rem;">
                    <hr width="20%">
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6 p-4">
                <h1 class="py-5 myFont color">Drop us a message</h1>
                <form action="">
                    <div class="row mt-2">
                        <div class="col">
                            <label for="fname">First Name :</label>
                            <input type="text" name="fname" id="fname" required class="form-control">
                        </div>
                        <div class="col">
                            <label for="lname">Last Name :</label>
                            <input type="text" name="lname" id="lname" required class="form-control">
                        </div>
                    </div>
                    <div class="from-group mt-2">
                        <label for="email">Email :</label>
                        <input type="text" name="email" id="email" required class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <label for="message">Message :</label>
                        <textarea name="message" id="message" rows="8" required class="form-control"></textarea>
                    </div>
                    <div class="px-5 my-3 text-center">
                        <button type="submit" class="btn color2 text-light">Send Message</button>
                    </div>
                </form>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 p-4">
                <h1 class="pt-5 h1 myFont color text-small">Contact Us on Social Media</h1>
                <ul class="list-inline my-4">
                    <li class="list-inline-item"><a class="social-link" href="#">
                            <i class="fa fa-2x fa-facebook-official"></i></a></li>
                    <li class="list-inline-item"><a class="social-link" href="#">
                            <i class="fa fa-2x fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="social-link" href="#"><i
                                    class="fa fa-2x fa-twitter-square"></i></a>
                    </li>
                </ul>
                <h1 class="py-3 myFont color">Find Us</h1>
                <div id="map"> </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block js %}
    <script async src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly" defer>
    </script>
    <script>
        (function (exports) {
            "use strict";

            function initMap() {
                exports.map = new google.maps.Map(document.getElementById("map"), {
                    center: {
                        lat: 31.6328892,
                        lng: -8.008825
                    },
                    zoom: 15
                });
            }

            exports.initMap = initMap;
        })
        ((this.window = this.window || {}));
    </script>
{% endblock %}