{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    <!-- Map Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d11207.556661876328!2d-8.029167882279053!3d31.639239376512826!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0xdafeea25f595b37%3A0x540c592c42400b54!2sAgence%20de%20Loisirs%20Marocains%20ALM%2C%202%C3%A8me%20%C3%A9tage%D8%8C%20R%C3%A9sidence%20YASMINE%20Boulevard%20Cheikh%20Rabhi%20Camp%20El%20Ghoul%20Appt%20N14%D8%8C%20Marrakesh!3m2!1d31.640816599999997!2d-8.0263445!5e0!3m2!1sen!2sma!4v1613993014451!5m2!1sen!2sma"
            height="600" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <!-- Map End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-5">
                    <div class="contact__widget">
                        <div class="contact__widget__item">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>+(212) 661-00-010</li>
                                <li>contact@alm.ma</li>
                            </ul>
                        </div>
                        <div class="contact__widget__item">
                            <h4>Address</h4>
                            <p>Boulevard Cheikh Rabhi Residence Yasmine 14 Gueliz <br>Marrakech, Morocco</p>
                        </div>
                        <div class="contact__widget__time">
                            <h4>Opentime</h4>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="contact__widget__time__item">
                                        <ul>
                                            <li>Monday - Friday</li>
                                            <li><span>8 am - 9 pm</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="contact__widget__time__item">
                                        <ul>
                                            <li>Saturday - Sunday</li>
                                            <li><span>8 am - 9 pm</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-6 col-sm-7">
                    <div class="contact__form">
                        <h2>Your question?</h2>
                        <form action="#">
                            <input type="text" placeholder="Your Name">
                            <input type="text" placeholder="Email">
                            <textarea placeholder="Your Message"></textarea>
                            <button type="submit">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}

{% block js %}
    <script>
        activate(2);
    </script>
{% endblock %}