@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FBFAFA;
    overflow-x: hidden;
}

.myFont {
    font-family: 'Anton', sans-serif;
    font-weight: 500;
}

.myFont2 {
    font-family: 'Jaldi', sans-serif;
}

.navbar {
    background: #04081d;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 30px;
    font-size: 12.5px;
}

.topheader {
    text-align: center;
    margin-top: 5px;
}

.pageTop {
    background: url("../imgs/top.jpg") no-repeat center;
    background-size: cover;
    border-radius: 0;
    padding: 10%;
    min-width: 100%;
    height: 100%;
}

.form-holder {
    margin: 2% auto;
}

.booking-form {
    background: #fff;
    border-radius: 2px;
}

.booking-form>form .row.no-margin {
    margin-right: 0px;
    margin-left: 0px;
}

.booking-form>form .row.no-margin>[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

.booking-form .form-group {
    position: relative;
    padding: 25px;
    margin-bottom: 0px;
}

.booking-form .form-group:after {
    content: '';
    background: rgba(129, 131, 144, 0.15);
    position: absolute;
    top: 25px;
    bottom: 0;
    right: 0px;
    width: 2px;
    height: 75px;
}

.booking-form .form-control {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #222;
    font-weight: 400;
    padding: 0;
}

.booking-form .form-control::-webkit-input-placeholder {
    color: #818390;
}

.booking-form .form-control:-ms-input-placeholder {
    color: #818390;
}

.booking-form .form-control::placeholder {
    color: #818390;
}

.booking-form input[type="date"].form-control:invalid {
    color: #818390;
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 0px;
    bottom: 30px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: #9E90A2;
    font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.booking-form .form-label {
    color: #9E90A2;
    display: block;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.booking-form .form-btn {
    padding: 25px;
}

.booking-form .submit-btn {
    background: #8A7D92;
    border: none;
    text-transform: capitalize;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 75px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.color {
    color: #A0A5AD;
}

.color2 {
    background-color: #8A7D92;
}

.color3 {
    color: #9396A7;
}

.info .container {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    z-index: 9999;
    position: relative;
}


.contact-holder .container {
    -webkit-transform: translateY(-6rem);
    transform: translateY(-6rem);
    z-index: 9999;
    position: relative;
}

.contact-holder .container .row {
    border: 5px solid #8A7D92;

}

.parallax {
    /*
        background-image: url("https://picsum.photos/1500/500");
    */
    background-image: url("../imgs/marrakesh.jpg");
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxText {
    font-size: 4rem;
    padding: 6.5rem;
}

.parallax2 {
    background-image: url("../imgs/hotel1.jpg");
}

.card-img-top {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure {
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.cardTop:hover .card-img-top {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.footer {
    background: #1c1d30;
    padding: 2rem 0 0;
}

.footer-link {
    color: #ccc;
    position: relative;
    padding-left: 1.5rem;
    transition: all 0.3s;
    font-size: 1rem;
}

.footer-link::before {
    content: "o";
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    color: #ccc;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:focus {
    color: #FBFAFA;
    text-decoration: none;
}

.footer-link:hover::before,
.footer-link:focus::before {
    color: #A494A1;
}

.social-link {
    color: #ccc;
}

.social-link:hover {
    color: #A494A1;
}

.copyrights {
    margin-top: 6.5rem;
    background: #04081d;
}

#reservation {
    background-image: url('../imgs/pic2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.reservation-form {
    background: rgba(0, 0, 0, 0.65);
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    margin: .5%;
}

.reservation-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.reservation-form .form-control {
    background-color: #fff;
    height: 50px;
    color: #191a1e;
    border: none;
    font-size: 16px;
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 40px;
    padding: 0px 25px;
}

.reservation-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.reservation-form .form-control::-webkit-input-placeholder {
    color: rgba(82, 82, 84, 0.4);
}

.reservation-form .form-control:-ms-input-placeholder {
    color: rgba(82, 82, 84, 0.4);
}

.reservation-form .form-control::placeholder {
    color: rgba(82, 82, 84, 0.4);
}

.reservation-form input[type="date"].form-control:invalid {
    color: rgba(82, 82, 84, 0.4);
}

.reservation-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.reservation-form select.form-control+.select-arrow {
    position: absolute;
    right: 10px;
    bottom: 6px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.reservation-form .form-label {
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    height: 24px;
    font-size: 14.5px;
    color: #fff;
}

.reservation-form .form-btn {
    margin-top: 27px;
}

.reservation-form .submit-btn {
    color: #fff;
    background-color: #8A7D92;
    font-weight: 500;
    height: 50px;
    font-size: 17px;
    border: none;
    width: 50%;
    border-radius: 40px;
    text-transform: uppercase;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.reservation-form .submit-btn:hover,
.reservation-form .submit-btn:focus {
    opacity: 0.9;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/*jssor slider css */
.jssora093 {display:block;position:absolute;cursor:pointer;}
.jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093:hover {opacity:.8;}
.jssora093.jssora093dn {opacity:.6;}
.jssora093.jssora093ds {opacity:.3;pointer-events:none;}
.jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
.jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
.jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
.jssort101 .p:hover{padding:2px;}
.jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
.jssort101 .p:hover.pdn{padding:0;}
.jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
.jssort101 .pav .cv {border-color:#fff;opacity:.35;}
.jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
.jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
.jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}

/* Slick css --------------------------*/
/* Slider */
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@media (min-width: 992px) {
    .info .container {
        -webkit-transform: translateY(-70%);
        transform: translateY(-70%);
    }
}

@media (max-width:1024px) {
    .bigImg {
        height: 554px;
    }
}

@media (max-width: 972px) {
    .topnav {
        height: 48px;
        font-size: 13.5px;
    }
    .contact-holder {
        margin-top: 50px;
    }
}

.group 	 {
    position:relative;
    margin-bottom:45px;
}
#contactform input, #contactform textarea	{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #9396A7;
}
#contactform input:focus, #contactform textarea:focus 		{ outline:none; }

/* LABEL ======================================= */
#contactform label  {
    color:#9396A7;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
#contactform input:focus ~ label, #contactform input:valid ~ label {
    top:-20px;
    font-size:14px;
    color:#04081D;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#8A7D92;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
#contactform input:focus ~ .bar:before, #contactform input:focus ~ .bar:after ,
#contactform textarea:focus ~ .bar:before, #contactform textarea:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:250px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
#contactform input:focus ~ .highlight
 {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#8A7D92; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#8A7D92; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#8A7D92; }
    to 	{ width:0; background:transparent; }
}

.sticky {
    width: 100px;
    text-align: center;
    color: #be2221;
    font-size: 16px;
    background: #f0f0f0;
    line-height: 250px;
}

.wrap {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin: auto;
}

.sildebtn {
    width: 30px;
    border: none;
    background: transparent;
    color: #000;
    font-size: 40px;
    text-align: center;
    outline: none;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}

.sildebtn:hover {
     opacity: 1;
 }

.scroller {
    flex: 1;
    overflow: hidden;
}

.items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    transition: transform 1s ease-in-out;
}

.item {
    padding: 250px;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    letter-spacing: -0.03em;
    line-height: 1;
    font-weight: bold;
    background-size: cover;
    background-position: 50% 50%;
    text-transform: uppercase;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}


@media (max-width: 750px) {

    .contact-holder .container {
        margin-top: 25%;
    }

    .topnav {
        height: 75px;
        font-size: 15px;
        background-size: -100%;
    }

    .imgHolder {
        height: 100%;
        width: 290px;
    }

    .bigImg {
        position: relative;
        overflow-y: hidden;
        height: 100%;
        width: 100%;
    }

    .bigCard {
        background: white;
        padding: .6rem .3rem .8rem .6rem;
    }

    .parallaxText {
        font-size: 3.5rem;
        padding: 5rem;
    }

    .title {
        font-size: 1.7rem;
    }

}