{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% set page = 'dashboard' %}

{% block header %}
	<div class="panel-header panel-header-lg">
		<canvas id="bigDashboardChart"></canvas>
	</div>
{% endblock %}

{% block content %}
	<!-- Page Preloder -->
	<div id="preloder">
			<div class="card">
				<div class="card-header">
					<h5 class="card-category">Please wait</h5>
				</div>
				<div class="card-body">
					<div class="chart-area" style="padding-bottom: 10px;">	
						<div class="loader"></div>
					</div>
				</div>
			</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Reservations</h5>
					<h4 class="card-title">This Week</h4>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas id="lineChartExample"></canvas>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						Last Update At :
						<div class="time"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Income Predictions</h5>
					<h4 class="card-title">This month</h4>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						Last Update At :
						<div class="time"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Trending</h5>
					<h4 class="card-title">Over The Year</h4>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas id="barChartSimpleGradientsNumbers"></canvas>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						Last Update At :
						<div class="time"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script>
		activate(0);
		$.when(getyearIncome(), getWeekBookings(), getMonthIncome(), getTrendingRooms()).then(function () {
			for (element of document.getElementsByClassName('time')) {
			element.appendChild(document.createTextNode(new Date().toLocaleString()))
			}
			demo.initDashboardPageCharts()
			$(".loader").fadeOut();
			$("#preloder").delay(200).fadeOut("slow");
		})
	</script>
{% endblock %}